extends layout

block content
  h1=title
  form(action="/recipes/create" method="post")
    label(for="name") Recipe Name:
    input(type="text" id="name" name="name" required)

    label(for="ingredients") Ingredients (comma-separated):
    input(type="text" id="ingredients" name="ingredients" placeholder="Flour, Sugar, Cocoa Powder" required)

    label(for="instructions") Instructions:
    textarea(id="instructions" name="instructions" required)

    label(for="steps") Steps (comma-separated):
    input(type="text" id="steps" name="steps" placeholder="Preheat oven, Mix ingredients, Bake" required)

    button(type="submit") Submit Recipe
